/* Required height of parents of the Full Page Intro and Intro itself */
html,
body,
.view 
{
  height: 100%;
  background-image: url("E:/Projects/www/oolala/img/hlava.jpeg");  
  background-repeat: no-repeat;
  background-size: cover;
}
/* Navbar animation */
.navbar 
{
  background-color: #e79cc2; 
  height: 80px;
  font-size: 15px;
  font-family: Impact, Haettenschweiler,;
  scrollbar-color: #121223;
}
.top-nav-collapse 
{
  background-color: #f6bed6;
}
/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) 
{
  .navbar 
  {
    background-color: #f6bed6;
    scrollbar-face-color: #121223; 
    scrollbar-color: #e79cc2;
    scrollbar-darkshadow-color: #121223;
    scrollbar-track-color: #121223;
  } 
}
/* Footer color for sake of consistency with Navbar */
.page-footer 
{
  background-color: #1d1b38; 
}

.h9-font
{
  font: 500 500px;
  color: #f6bed6;
  text-shadow: 3px 3px 0px #545361, 3px 3px 3px #f3b7d5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.h2-font
{
  font: 40px/1.5 "Brush Script MT";
  color: #ffd2f9;
  text-shadow: 3px 3px 0px rgba(206, 131, 206, 0.925), 5px 5px 5px rgb(139, 73, 148);
}

.h1-font { font-family: "Brush Script MT", cursive; 
  font-size: 175px;
  text-shadow: 3px 3px 3px rgba(41, 14, 41, 0.925), 5px 5px 5px rgba(24, 12, 24, 0.925);
  color: #f6bed6;
  font: 500 500px;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 500; 
  /*line-height: 26.4px; */}

.map-container-5{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
.map-container-5 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }